-# binaries
caffe-ct
test
snapshot
tests/test
*.bin
*.mdb
# Personal Makefile configuration
.config
# Residual compilation files
.DS_Store
*.DSYM
*.pb.cc
*.pb.h
*.o
# Swap files
*.swp
*~
# ctags
tags
# Personal libraries
lib/
*.d
