# This is the configuration file that the Makefile
# will use to compile CcT. We have the following dependencies:
#   * lmdb
#   * OpenBLAS or Atlas
#   * Boost
#   * google-glog
#   * GoogleTest (optional)
#
# If any of these libraries are not currently part of your
# LD_LIBRARY_PATH, please use the Makefile variables below
# to configure the compilation. Remember: use absolute paths!

# -------------------------------------------------------------
# C++ (required) and CUDA (optional) Compilers
# -------------------------------------------------------------

# C compiler. clang++ (mac) or g++-4.8 or later (linux) recommended for C++11.
CC=g++ 
#CC=clang++ 

# (optional) CUDA compiler. 7.0 or later recommended (for C++11).
NVCC=
CUDA_INCLUDE = 
CUDA_LIB=


# -------------------------------------------------------------
# BLAS installation directory (if not in path)
# -------------------------------------------------------------
# Linux: Build OpenBLAS locally
#BLAS_INCLUDE=/path/to/OpenBLAS/root/directory
#BLAS_LIB_DIR=/path/to/OpenBLAS/root/directory
#
# Mac: These are possible paths (verify that they exist)
#BLAS_INCLUDE=/System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/Headers
#BLAS_LIB_DIR=/System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A

# Uncomment these 2 lines for Linux (currently OpenBLAS is recommended)
BLAS_LIBS=openblas      # OpenBlas
BLAS_DEFS=-D_USE_OPENBLAS
# Uncomment these 2 lines for Mac (the default libraries)
#BLAS_LIBS=BLAS LAPACK  # Mac libararies
#BLAS_DEFS=-D_USE_ATLAS


# -------------------------------------------------------------
# Other installation directories (if not in path)
# -------------------------------------------------------------
LMDB_INCLUDE=
LMDB_LIB_DIR=

BOOST_LIB_DIR=
BOOST_INCLUDE=

GLOG_LIB_DIR=
GLOG_INCLUDE=

# gtest is optional
GTEST_INCLUDE=
GTEST_LIB_DIR=

# Put any extra include and lib directories here
EXTRA_LIB_DIR=
EXTRA_INCLUDE=

