# This is the configuration file that the Makefile
# will use to compile CcT. We have the following dependencies:
#   * lmdb
#   * OpenBLAS or Atlas
#   * GoogleTest
#   * google-glog
#   * google-gflags
#   * Boost
#
# If any of these libraries are not currently part of your
# LD_LIBRARY_PATH, please use the Makefile variables below
# to configure the compilation. Remember: use absolute paths!

# C compiler
CC=mpic++

# absolute path to CcT
CCT=/home/travis/build/HazyResearch/CaffeConTroll

# directory where lmdb library is installed (if not in path)
LMDB_INCLUDE=
LMDB_LIB_DIR=/usr/local/lib

BLAS_INCLUDE=/home/sgeadmin/openblas/include
BLAS_LIB_DIR=/home/sgeadmin/openblas/lib
#BLAS_LIBS=blas # standard old blas
#BLAS_DEFS=-D_VANILLA_BLAS
BLAS_LIBS=openblas # OpenBlas
BLAS_DEFS=-D_USE_OPENBLAS

# directory where GoogleTest is installed (if not in path)
GTEST_INCLUDE=/usr/include/
GTEST_LIB_DIR=/usr/local/lib

# directory where google-glog is installed (if not in path)
GLOG_LIB_DIR=
GLOG_INCLUDE=

# directory where google-gflags is installed (if not in path)
GFLAGS_LIB_DIR=
GFLAGS_INCLUDE=

# directory where Boost C++ Library is installed (if not in path)
BOOST_LIB_DIR=
BOOST_INCLUDE=
